fastapi
uvicorn
streamlit
groq
faiss-cpu
langchain
sentence-transformers
python-multipart
pandas
PyPDF2



fastapi
uvicorn
streamlit
PyPDF2
spacy
sentence-transformers
numpy
requests
